@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #0d0f12;
    color: #f8fafc;
  }
  
  code, pre, kbd {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d0f12;
}
::-webkit-scrollbar-thumb {
  background: #232731;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #353a48;
}